<!DOCTYPE html>
<html>

<head>
	<title>Liars Poker</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
	<h1>Liars Poker</h1>
	<!-- <input type="text" id="playerName" placeholder="Enter your name"> -->
	<button id="play">PLAY</button>
	<div id="gameArea"></div>
	<div id="logs"></div>
	<div id="bets"></div>

	<script>

		let combinations = [
			"check",
			"high_card_9",
			"high_card_T",
			"high_card_J",
			"high_card_Q",
			"high_card_K",
			"high_card_A",
			"pair_9",
			"pair_T",
			"pair_J",
			"pair_Q",
			"pair_K",
			"pair_A",
			"two_pair_T_9",
			"two_pair_J_9",
			"two_pair_J_T",
			"two_pair_Q_9",
			"two_pair_Q_T",
			"two_pair_Q_J",
			"two_pair_K_9",
			"two_pair_K_T",
			"two_pair_K_J",
			"two_pair_K_Q",
			"two_pair_A_9",
			"two_pair_A_T",
			"two_pair_A_J",
			"two_pair_A_Q",
			"two_pair_A_K",
			"small_straight",
			"big_straight",
			"three_9",
			"three_T",
			"three_J",
			"three_Q",
			"three_K",
			"three_A",
			"full_9_T",
			"full_9_J",
			"full_9_Q",
			"full_9_K",
			"full_9_A",
			"full_T_9",
			"full_T_J",
			"full_T_Q",
			"full_T_K",
			"full_T_A",
			"full_J_9",
			"full_J_T",
			"full_J_Q",
			"full_J_K",
			"full_J_A",
			"full_Q_9",
			"full_Q_T",
			"full_Q_J",
			"full_Q_K",
			"full_Q_A",
			"full_K_9",
			"full_K_T",
			"full_K_J",
			"full_K_Q",
			"full_K_A",
			"full_A_9",
			"full_A_T",
			"full_A_J",
			"full_A_Q",
			"full_A_K",
			"quad_9",
			"quad_T",
			"quad_J",
			"quad_Q",
			"quad_K",
			"quad_A",
			"flush_♠",
			"flush_♣",
			"flush_♦",
			"flush_♥",
			"small_poker_♠",
			"small_poker_♣",
			"small_poker_♦",
			"small_poker_♥",
			"big_poker_♠",
			"big_poker_♣",
			"big_poker_♦",
			"big_poker_♥",
		]

		combinations.forEach((c) => {
			var button = $('<button>').text(c);
			button.click(() => {
				socket.emit('bet', {'bet': c});
			});
			$('#bets').append(button);
		});

		var socket = io.connect('http://' + document.domain + ':' + location.port);

		$('#play').click(() => {
			socket.emit('play');
		});

		// Handle game start event
		socket.on('connected', function(data) {
			$('#logs').empty();
			$('#gameArea').empty();
			$('#gameArea').html('<br> Hello ' + data.sid);
		});

		// Handle game start event
		socket.on('game_start', function(data) {
			$('#gameArea').append('<br> Game Started! players: ' + data.players);
		});

		// Handle game update event
		socket.on('game_update', function(data) {
			$('#gameArea').append('<br> Game Update: ' + data.text);
			$('#gameArea').append('<br> Game State json: ' + JSON.stringify(data.json));
			// Additional logic to display game update details
		});

		// Handle game end event
		socket.on('game_end', function(data) {
			$('#gameArea').append('<br> Game Ended: ' + data.result);
			// Additional logic to display game end details
		});

		socket.on('message', function(data) {
			// Assuming the message is in the 'text' property of the data object
			var message = data.text;
			$('#logs').append('<br> Log: ' + data.text);
		});
	</script>
</body>

</html>